@using HySound.ViewModels
@model List<TrackViewModel>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HySound - Начало</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

 
    <section class="hero-home">
        <h1>Добре дошли в HySound</h1>
        <p>Открийте нови песни и плейлисти всеки ден.</p>
        <a asp-controller="Home" asp-action="Search" class="hero-btn-home">Започнете сега</a>
    </section>

    <section class="playlists-home">
        <h2>Препоръчани Плейлисти</h2>
        <div class="playlist-grid-home">
            <div class="playlist-card-home">
                <img src="~/Images/lyfe.jpg" alt="Playlist 1" class="playlist-image-home">
                <h3>Летни Хитове</h3>
            </div>
            <div class="playlist-card-home">
                <img src="~/Images/utopia.jpg" alt="Playlist 2" class="playlist-image-home">
                <h3>Релакс Музика</h3>
            </div>
            <div class="playlist-card-home">
                <img src="~/Images/starboy.jpg" alt="Playlist 3" class="playlist-image-home">
                <h3>Популярни Сингли</h3>
            </div>
        </div>
    </section>

    <section class="tracks-home">
        <h2>Последни Тракове</h2>
        <div class="track-list-home">
            <div class="track-item-home">
                <img src="~/Images/wlr.jpg" alt="Track 1" class="track-img-home">
                <div class="track-info-home">
                    <h3 class="track-title-home">Песен 1</h3>
                    <p class="track-artist-home">Изпълнител 1</p>
                    <button class="track-play-btn-home">▶ Пусни</button>
                </div>
            </div>
            <div class="track-item-home">
                <img src="~/Images/magnolia.jpg" alt="Track 2" class="track-img-home">
                <div class="track-info-home">
                    <h3 class="track-title-home">Песен 2</h3>
                    <p class="track-artist-home">Изпълнител 2</p>
                    <button class="track-play-btn-home">▶ Пусни</button>
                </div>
            </div>
            <div class="track-item-home">
                <img src="~/Images/utopia.jpg" alt="Track 3" class="track-img-home">
                <div class="track-info-home">
                    <h3 class="track-title-home">Песен 3</h3>
                    <p class="track-artist-home">Изпълнител 3</p>
                    <button class="track-play-btn-home">▶ Пусни</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-home">
        <p>&copy; 2025 HySound. Всички права запазени.</p>
    </footer>

</body>
