<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HySound</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HySound.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Library" asp-controller="Home">Library</a>
                            </li>
                        } 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="uploadDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Upload
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="uploadDropdown">
                                <li><a class="dropdown-item text-light" asp-controller="Track" asp-action="AllTracks">Track</a></li>
                                <li><a class="dropdown-item text-light" asp-controller="Album" asp-action="AllAlbums">Album</a></li>
                            </ul>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Profile" asp-controller="User">Profile</a>
                            </li>
                        }
                        
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HySound - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <div class="player-container">
        <div class="player-left">
            <img class="player-image" id="song-image" src="" alt="Song Image">
            <div class="player-info">
                <span class="player-song-name" id="song-title">Song Title</span>
                <span class="player-artist-name" id="artist-name">Artist Name</span>
            </div>
        </div>

        <div class="player-center">
            <div class="player-btn-container">
                <button class="player-btn player-prev" id="prev-btn">
                    <i class="player-icon fas fa-step-backward"></i>
                </button>
                <button class="player-btn player-play" id="play-btn">
                    <i class="player-icon fas fa-play"></i>
                </button>
                <button class="player-btn player-next" id="next-btn">
                    <i class="player-icon fas fa-step-forward"></i>
                </button>
            </div>

            <div class="player-timebar-container">
                <input type="range" class="player-timebar" id="timebar" value="0" max="100">
            </div>
        </div>

        <div class="player-right">
            <i class="volume-icon fas fa-volume-up"></i>
            <input type="range" class="player-sound-bar" id="sound-bar" min="0" max="100" value="50">
        </div>
    </div>

    <audio id="global-audio" class="hidden" controls>
        <source id="global-audio-source" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

</body>
</html>
