@using HySound.ViewModels.Album
@model EditAlbumViewModel

<h1>Add Album</h1>

<form method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Title" asp-for="Title" />
    <br />

    <div class="add-track-input-group" id="fileUploadGroup">
        <label for="imageFile" class="add-track-input-label">Cover image</label>
        <input type="file" id="ImageFile" asp-for="ImageFile" class="add-track-input-field" accept="image/*" />
    </div>
    <input type="date" placeholder="ReleaseDate" asp-for="ReleaseDate" />
    <select asp-for="UserId" asp-items="Model.UserList" class="form-control">
        <option value="">Select an User</option>
    </select>
    <br />
    <button type="submit">Submit</button>
</form>