@using HySound.Models.Account
@model RegisterViewModel

<h2>Register</h2>
<form method="post" asp-controller="Account">
<div>
    <label asp-for ="Username">
        </label>
        <input asp-for ="Username"   />
</div>
    <div>
        <label asp-for ="Email">
            </label>
            <input asp-for ="Email"   />
    </div>

    <div>
        <label asp-for ="Password">
            </label>
            <input asp-for ="Password"  type="password"   />
    </div>

    <div>
        <label asp-for ="ConfirmPassword">
            </label>
            <input asp-for ="ConfirmPassword"  type="password"   />
    </div>
    <button class="btn btn-danger" type ="submit">
        Register</button>
</form>
