@using HySound.ViewModels
@model EditTrackViewModel

<div class="add-track-container">
    <h1 class="add-track-title">Update Track</h1>

    <form method="post" class="add-track-form" enctype="multipart/form-data">
        <div class="add-track-input-group">
            <label for="Title" class="add-track-input-label">Track Title</label>
            <input type="text" id="Title" name="Title" class="add-track-input-field" placeholder="Enter track title" asp-for="Title" required />
        </div>

        <div class="add-track-input-group">
            <label for="AudioUrl" class="add-track-input-label">Audio URL</label>
            <input type="text" id="AudioUrl" name="AudioUrl" class="add-track-input-field" placeholder="Enter audio file URL" asp-for="AudioUrl" />
        </div>

        <div class="add-track-input-group" id="fileUploadGroup">
            <label for="ImageFile" class="add-track-input-label">Cover image</label>
            <input type="file" id="ImageFile" asp-for="ImageFile" class="add-track-input-field" accept="image/*" />
        </div>

        <div class="add-track-input-group">
            <label for="Plays" class="add-track-input-label">Plays</label>
            <input type="number" id="Plays" name="Plays" class="add-track-input-field" placeholder="Enter the number of plays" asp-for="Plays" required />
        </div>

        <div class="add-track-input-group">
            <label for="GenreId" class="add-track-input-label">Genre</label>
            <select asp-for="GenreId" asp-items="Model.GenresList" class="add-track-input-dropdown" required>
                <option value="">Select Genre</option>
            </select>
        </div>

        <div class="add-track-input-group">
            <label for="UserId" class="add-track-input-label">User</label>
            <select asp-for="UserId" asp-items="Model.UserList" class="add-track-input-dropdown" required>
                <option value="">Select User</option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="add-track-btn">Save Changes</button>
        </div>
    </form>
</div>
