@using HySound.ViewModels
@model EditTrackViewModel

<h1>Update track</h1>

<form asp-action="Update" method="post" class="edit-track-form">
    <div class="mb-3">
        <input type="text" placeholder="Title" asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Audio" asp-for="AudioUrl" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="number" placeholder="Plays" asp-for="Plays" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Image" asp-for="ImageLink" class="form-control" />
    </div>
    <div class="mb-3">
        <select asp-for="GenreId" asp-items="Model.GenresList" class="form-control">
            <option value="">Select a Genre</option>
        </select>
    </div>
    <div class="mb-3">
        <select asp-for="UserId" asp-items="Model.UserList" class="form-control">
            <option value="">Select an User</option>
        </select>
    </div>
    <button type="submit" class="btn-submit">Save Changes</button>
</form>
