@using HySound.Models.Models
@model User

<h1>Добави потребител</h1>

<form method="post">
    <input type="text" placeholder="Потребителско име" asp-for="Username" />
    <br />
    <input type="text" placeholder="Имейл" asp-for="Email" />
    <br />
    <input type="text" placeholder="Парола" asp-for="Password" />
    <br />
    <button type="submit">Изпрати</button>
</form>