@using HySound.Models.Models
@model User

<h1>Актуализиране на потребител</h1>

<form method="post">
    <input type="text" placeholder="Потребителско име" asp-for="Username" />
    <br />
    <input type="text" placeholder="Имейл" asp-for="Email" />
    <br />
    <input type="text" placeholder="Парола" asp-for="Password" />
    <br />
    <input type="text" placeholder="Биография" asp-for="Bio" />
    <br />
    <input type="text" placeholder="Профилна снимка" asp-for="ProfilePicture" />
    <br />
    <button type="submit">Запази</button>
</form>
